/**-----------------------428px----------------------**/

@media screen and (min-width: 428px) {
    .container {
        max-width: 428px;
    }

    .mob-tel {
        font-size: 36px;
    }

    .mob-soc-links {
        gap: 56px;
    }

    .subscribe-input {
        width: 398px;
    }
    .modal {
        min-width: 392px;
    }
}

/**-----------------------768px----------------------**/

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .header {
        padding: 0;
    }

    .header-container {
        align-items: center;
    }

    .mob-menu-btn {
        display: none;
    }

    .mob-menu {
        display: none;
    }

    .header-menu {
        display: flex;
        gap: 40px;
        align-items: center;
    }

    .header-navigation {
        display: flex;
        text-align: center;
        margin-right: auto;
    }

    .header-menu-link {
        display: block;
        padding: 24px 0;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--title-color);
        transition: color var(--transition);
    }

    .header-menu .header-menu-link:hover {
        color: var(--link-color);
    }

    .header-menu-link:active,
    .header-menu-link:focus {
        color: var(--link-color);
    }

    .header-address-menu {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .header-address {
        font-style: normal;
    }

    .address-link {
        font-family: "Roboto", sans-serif;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.04em;
        color: var(--text-color);
        transition: color var(--transition);
    }

    .address-link:hover {
        color: var(--link-color);
    }

    .address-link:active,
    .address-link:focus {
        color: var(--link-color);
    }

    .current {
        position: relative;
        color: var(--link-color);
    }

    .current::after {
        position: absolute;
        left: 0;
        bottom: 0;
        content: "";
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--link-color);
    }

    .header-logo {
        /* margin-right: 120px; */
        padding: 24px 0;
        display: flex;
        align-items: center;
    }

    .hero {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero-bg-tab.jpg);
        height: 436px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero-bg-tab-2x.jpg);
        }
    }

    .hero-effective {
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 36px;
        max-width: 496px;
    }

    .directions-menu {
        gap: 72px 24px;
    }

   
    .directions-item {
        width: calc((100% - 24px) / 2);
        max-width: unset;
        align-items: flex-start;
        gap: 8px;
    }

    .directions-menu .directions-subtext {
        font-weight: 500;
    }

    .team-item {
        width: calc((100% - 24px) / 2);
    }

    .team-container {
        max-width: 584px;
    }

    .team-menu {
        gap: 64px 24px;
    }

    .customers {
        padding: 96px 0;
    }

    .customers-container {
        max-width: 584px;
    }

    .customers-item {
        width: calc((100% - 48px) / 3);
    }

    .customers-img {
        /* padding: 32px 16px; */
    }

   
    .footer-container {
        flex-direction: row;
        align-items: baseline;
        gap: 72px 24px;
        max-width: 584px;
    }

    .footer-logo {
        display: inline-block;
    }

    .footer-form {
        display: flex;
        gap: 24px;
        flex-direction: row;
        align-items: center;
    }

    .subscribe-input {
        width: 264px;
    }

    .footer-logo-social {
        justify-content: start;
    }

}

/**---------------------1158px------------------------**/

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .customers-container {
        max-width: 1158px;
    }

    .header-logo {
        margin-right: 76px;
    }

    .header {
        /* padding: 25px 0; */
    }

    .address-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .header-address-menu {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .current::after {
        /* bottom: -22px; */
    }

    .hero {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero-bg-desktop.jpg);
        padding: 188px 0;
        height: 600px;
        max-width: 1440px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../images/hero-bg-desktop-2x.jpg);
        }
    }

    .hero-effective {
        font-size: 56px;
        margin-bottom: 48px;
    }

    .hero-btn:hover {
        background-color: var(--link-color);
    }

    .hero-btn:active,
    .hero-btn:focus {
        background-color: var(--link-color);
    }

    .directions {
        padding: 120px 0;
    }

    .directions-item {
        width: calc((100% - 72px) / 4);
    }

    .directions-item-div {
        display: flex;
        width: 100%;
        height: 112px;
        background-color: var(--backgr-color);
        border: none;
        border-radius: 4px;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
    }

    .directions-menu .directions-subtitle {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
    }

    .directions-menu .directions-subtext {
        font-weight: 400;
    }

    .team {
        padding: 120px 0;
    }

    .team-item {
        width: calc((100% - 72px) / 4);
    }

    .team-menu {
        gap: 24px;
        max-width: unset;
    }

    .osoba-icon-a:hover,
    .osoba-icon-a:focus {
        background-color: var(--link-color);
    }

    .customers {
        padding: 120px 0;
    }

    .customers-item {
        width: calc((100% - 120px) / 6);
    }

    .customers-img:hover,
    .customers-img:focus {
        color: var(--link-color);
        border-color: var(--link-color);
    }

    .doing {
        padding-bottom: 120px;
        display: flex
    }

    .doing-menu {
        display: flex;
        gap: 24px;
    }

    .doing-item {
        width: calc((100% - 48px) / 3);
        border: 1px solid var(--button-color);
    }

    .footer {
        padding: 100px 0;
    }

    .footer-container {
        gap: unset;
    }

    .footer-info {
        margin-right: 120px;
        margin-bottom: 0;
    }

    .footer-text {
        max-width: 264px;
    }

    .footer-social-meregi {
        margin-right: 80px;
    }

    .footer-icon-a:hover,
    .footer-icon-a:focus {
        background-color: var(--icon-color);
    }

    .subscribe-btn:hover {
        background-color: var(--link-color);
    }

    .subscribe-btn:active,
    .subscribe-btn:focus {
        background-color: var(--link-color);
    }

    .modal {
        width: 408px;
    }

    .modal-btn:hover,
    .modal-btn:focus,
    .modal-btn:active {
        background-color: var(--link-color);
        border: none;
        fill: var(--white-color);
    }

    .modal-input:focus {
        border-color: var(--logo-color);
    }

    .modal-input:focus+.input-icon {
        fill: var(--logo-color);
    }

    .modal-textarea:focus {
        border-color: var(--logo-color);
    }

    .modal-send-btn:hover {
        background-color: var(--link-color);
    }

    .modal-send-btn:active,
    .modal-send-btn:focus {
        background-color: var(--link-color);
    }
}
