    body {
        font-family: 'Roboto', sans-serif;
        color: var(--text-color);
        background-color: var(--white-color);
    }
    
    /**Perezavantagennya ctuliv-----*/
    p, h1, h2, h3, h4, h5, h6 {
        margin: 0;
    }

    ul{
        list-style-type: none;
        margin: 0;
        padding-left: 0;
    }

    img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    .container{
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
        margin: 0 auto;
        /* outline: 2px solid red; */
    }

    main {
        flex-grow: 1;
    }

    :root {
        --title-color: #2E2F42;
        --text-color: #434455;
        --logo-color: #4d5ae5;
        --link-color: #404bbf;
        --white-color: #FFFFFF;
        --backgr-color: #F4F4FD;
        --button-color: #e7e9fc;
        --icon-color: #31d0aa;
        --border-color: #8e8f99;
        --transition: 250ms cubic-bezier(0.4, 0, 0.2,1);
    }

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    a {
        font-family: inherit;
        color: currentColor;
        text-decoration: none;
    }

    /**-------Bez krapok v spiskax-----*/
    .list {
        list-style: none;
        margin: 0;
        padding-left: 0;
    }

    /**--------Bez pidkreslenya--------*/
    .link {
        text-decoration: none;    
    }

    label {
        display: flex;
        flex-direction: column;
    }

    input {
        font-family: inherit;
        margin-left: 0;
    }

    
    /**------INDEX-----Header------------*/
    .header {
        padding-top: 24px;
        padding-bottom: 24px;
        max-height: 72px;
        border-bottom: 1px solid var(--button-color);
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    }

    .header-navigation {
        display: flex;
    }

    .header-container {
        display: flex;
    }

    .header-address-menu {
        display: none;
    }

    .header-logo {
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: var(--logo-color);
        text-transform: uppercase;
        margin-right: 76px;
    }
    
    .span-header {
        color: var(--title-color);
    } 

    .span-footer {
        color: var(--backgr-color);
    }

    .header-menu {
        display: none;
    }

    .hamburger-icon {
        fill: var(--title-color);
    }

      /**------Pidkreslennya------------*/
   
    
    .header-address-menu {
        display: none;
    }

    .hamburger-icon {
        stroke: var(--title-color);
    }

    .mob-menu-btn {
        display: block;
        margin-left: auto;
        border: none;
        background-color: transparent;
    }

    .close-mob-icon {
        fill: var(--title-color);
    }

    .mob-menu-close {
        display: flex;
        margin-left: auto;
        margin-bottom: 32px;
        width: 24px;
        height: 24px;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: var(--button-color);
    }

    .mob-menu {
        position: fixed;
        top: 0;
        z-index: 2;
        padding: 24px 24px 40px 40px;
        width: 100vw;
        height: 100%;
        background-color: var(--white-color);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: auto;
        transform: translateX(0);
        transition: 1000ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mob-menu-list {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-bottom: 50px;
    }

    .mob-link {
        font-family: "Roboto", sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: var(--title-color);
    }

    .mob-current {
        color: var(--link-color);
    }

    .mob-menu-contacts {
        display: flex;
        flex-direction: column;
        margin-top: auto;
    }

    .mob-address-block {
        margin-bottom: 48px;
    }

    .mob-address-nav {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .mob-tel {
        font-family: "Roboto", sans-serif;
        font-size: 25px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        font-style: initial;
        color: var(--logo-color);
    }

    .mob-mail {
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        font-style: initial;
        color: var(--title-color);
    }

    .mob-soc-links {
        display: flex;
        gap: 30px;
    }
    

    /*todo----INDEX----Main-------------*/

    /**-------INDEX---Hero--Section 1-------*/
    
    .hero {
        background-color: var(--title-color);
        padding-bottom: 112px;
        padding-top: 112px;
        /* height: 432px; */
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/hero-bg-mob.jpg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        margin: 0 auto;
    }


    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .hero {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/hero-bg-mob-2x.jpg);
        }
    }


    .hero-effective {
        font-family: "Roboto", sans-serif;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: var(--white-color);
        text-align: center;
        max-width: 320px;
        margin: 0 auto;
        margin-bottom: 72px;
    }

    .hero-btn {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--white-color);
        cursor: pointer;
        background-color: var(--logo-color);
        min-width: 169px;
        height: 56px;
        border-radius: 4px;
        border: none;
        display: block;
        margin: 0 auto;
        transition: background-color var(--transition);
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    }

    
    /**-------INDEX---Section 2--Directions--------*/
    
       
    .directions {
        padding-top: 96px;
        padding-bottom: 96px;
    }


    .directions-menu {
        display: flex;
        gap: 72px;
        flex-wrap: wrap;
    }

    .directions-item {
        display: flex;
        flex-direction: column;
        gap: 8px;
        max-width: 396px;
    }


    .directions-menu .directions-subtitle {
        font-family: "Roboto", sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02px;
        color: var(--title-color);
        text-align: center;
    }
    
    .directions-menu .directions-subtext {
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        align-self: stretch;
    }
     
    .directions-item-div {
        display: none;
    }

        
    /**-------INDEX---Section 3--Doing-------*/
   
    .doing {
        display: none;
    }

    .doing-title {
        font-family: "Roboto", sans-serif;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--title-color);
        text-align: center;
        margin-bottom: 72px;
    }
    
    
    /**-------INDEX---Section 4--Team-------*/
   
    .team {
        background-color: var(--backgr-color);
        padding: 96px 0;
    }

    .img-team {
        width: 100%;
        height: auto;
    }


    .team-menu .team-subtitle {
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--title-color);
        text-align: center;
        margin-bottom: 8px;
    }
    
    .team-menu .team-subtext {
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        margin-bottom: 8px;
    }
    

    .team-menu {
        display: flex;
        flex-wrap: wrap;
        gap: 72px;
        width: 100%;
    }
    
    .team-title {
        font-size: 36px;
        font-family: Roboto;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.72px;
        text-transform: capitalize;
        text-align: center;
        margin-bottom: 72px;
    }

    .team-item {
        background-color: var(--white-color);
        max-width: 264px;
        border-radius: 0px 0px 4px 4px;
        margin: 0 auto;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    }


    .osoba {
        padding: 32px 0;
    }


    .osoba-icon {
        display: flex;
        gap: 24px;
        justify-content: center;
        align-items: center;
    }

    .osoba-icon-li {
        width: 40px;
        height: 40px;
    }

    .osoba-icon-a {
        width: 100%;
        height: 100%;
        background-color: var(--logo-color);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color var(--transition);
    }


    .osoba-icon-svg {
        fill: var(--backgr-color); 
    }
                
    
     /**-------INDEX---Section 5--Customers-------*/

    .customers {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .customers-title {
        font-size: 36px;
        font-family: Roboto;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.72px;
        text-transform: capitalize;
        text-align: center;
        margin-bottom: 72px;
    }

    .customers-menu {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
        justify-content: center;
        align-items: center;
    }

    .customers-item {
        width: calc((100% - 16px) / 2);
        height: 88px;
    }
     
    .customers-img {
        width: 100%;
        height: 100%;
        border: 1px solid var(--border-color);
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--border-color);
        fill: currentColor;
        transition: border-color var(--transition), color var(--transition);
    }
    
    .customers-item-icon {
        fill: currentColor;
    }

   
    /**-------INDEX---Footer---------*/
    
    .footer {
        background-color: var(--title-color);
        padding: 96px 0;
    }

    .footer-container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        gap: 72px;
    }

    .footer-logo {
        display: block;
        font-size: 18px;
        font-weight: 800;
        margin-bottom: 16px; 
        text-align: center;
        text-transform: uppercase;
        color: var(--logo-color);
    }


    .footer-text {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--backgr-color);
        max-width: 268px;
        display: flex;
    }


    .footer-logo-social {
        display: flex;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--white-color);
        margin-bottom: 16px;
        justify-content: center;
    }

    .footer-social-meregi {
        display: flex;
        flex-direction: column;
    }


    .footer-icon {
        display: flex;  
        gap: 16px;
    }

    .footer-icon-li {
        width: 40px;
        height: 40px;
    }

    .footer-icon-a {
        width: 100%;
        height: 100%;
        background-color: var(--logo-color);
        border-radius: 50%;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color var(--transition);
    }

    .footer-icon-svg {
        fill: var(--backgr-color);
        padding: 8px;
        width: 100%;
        height: 100%;
    }

           
     /**--------- Subscribe----------*/
    .subscribe-container {
        display: flex;
        flex-direction: column;
    }

    .footer-form {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
    }

    .subscribe-input {
        border: 1px solid var(--white-color);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        background-color: transparent;
        height: 40px;
        width: 290px;
        padding: 8px 0 8px 16px;
        outline: none;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--white-color);
    }

    .subscribe-input::placeholder {
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 2; 
        letter-spacing: 0.04em;
        color: var(--white-color);
        display: flex;
    }

    .subscribe-btn {
        background-color: var(--logo-color);
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--white-color);
        cursor: pointer;
        padding: 8px 24px;
        border: none;
        min-width: 165px;
        border-radius: 4px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        transition: background-color var(--transition);
    }

    .subscribe-icon {
        margin-left: 16px;
        fill: var(--white-color);
        display: flex;
    }
    

    /**--------MODAL Windows---------*/

    backdrop {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(46, 47, 66, 0.4);
        transition: visibility var(--transition), opacity var(--transition);
    }
    
    .backdrop.is-hidden .modal {
        transform: translate(-50%, -50%) scale(0);
    }
    
    .modal {
        padding: 72px 24px 24px 24px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        transition: transform var(--transition);
        min-width: 310px;
        max-width: 408px;
        min-height: 584px;
        border: none;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12), 0 2px 1px rgba(0, 0, 0, 0.2);
        background-color: #FCFCFC;
        display: flex;
        flex-direction: column;
    }

    .modal-btn {
        position: absolute;
        right: 24px;
        top: 24px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        cursor: pointer;
        background-color: var(--button-color);
        border: 1px solid rgba(0, 0, 0, 0.1); 
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color var(--transition), border var(--transition);
    }


    .modal-btn-icon {
        transition: fill var(--transition);
    }

    .is-hidden {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
    }

    .modal-title {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--title-color);
        text-align: center;
        margin-bottom: 16px;
    }

   /**-----------FORMU vvedennya---------------*/
   
    .modal-form {
        margin-bottom: 8px;
    }

    .modal-label {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: var(--border-color);
        display: block;
        margin-bottom: 4px;
    }

    .modal-input {
        width: 100%;
        height: 40px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        transition: border-color var(--transition);
        padding-left: 38px;
        outline: transparent;
        background-color: transparent;
        transition: border-color var(--transition);
    }

    .modal-field {
        margin-bottom: 8px;
    }

    .input-wrap {
        position: relative;
    }

    .input-icon {
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        fill: var(--title-color);
        transition: fill var(--transition);
    }

    .modal-field-placeholder {
        margin-bottom: 16px;
    }

    .modal-textarea {
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        width: 100%;
        height: 120px;
        background-color: transparent;
        resize: none;
        padding: 8px 16px;
        transition: border-color var(--transition);
        outline: transparent;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
    }

    .modal-textarea::placeholder {
        color: rgba(46, 47, 66, 0.4);
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.04em;
    }

    .modal-privacy {
        margin-bottom: 24px;
    }

    .check-text {
        font-family: inherit;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: var(--border-color);
        display: inline-block;
        align-items: center;
    }

    .check-text span {
        display: inline-flex;
        fill: transparent;
        width: 16px;
        height: 16px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 2px;
        margin-right: 8px;
        align-items: center;
        justify-content: center;
        transition: fill var(--transition), border var(--transition), background-color var(--transition) border-color var(--transition);
    }

    .input-check:checked+.check-text span {
        background-color: var(--link-color);
        border: none;
        fill: var(--backgr-color);
    }

    .input-check:focus+.check-text span {
        border-color: var(--link-color);
    }

    .user-privacy-link {
        font-family: inherit;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.33;
        letter-spacing: 0.04em;
        color: var(logo-color);
        text-decoration: underline;
        display: inline-block;
    }

    .modal-send-btn {
        display: block;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        min-width: 169px;
        height: 56px;
        border-radius: 4px;
        border: none;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--white-color);
        background-color: var(--logo-color);
        cursor: pointer;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
        transition: background-color var(--transition);
    }

   
    /**---PORTFOLIO------Header---------*/
    
           
    /**---PORTFOLIO------Block1------------*/

        
    .block-one-four {
        padding-top: 96px;
        padding-bottom: 120px; 
    }

    .block-one-four-container {}

    .button-menu {
        list-style: none;
        display: flex;
        justify-content: center;
        margin-bottom: 72px;
        gap: 24px;
    }
   
    .button-menu-general {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--logo-color);
        cursor: pointer;
        background-color: var(--backgr-color);
        border: 1px solid var(--button-color);
        border-radius: 4px; 
        padding: 12px 24px; 
        transition: color var(--transition), background-color var(--transition), border-color var(--transition), box-shadow var(--transition);
        display: block;
    }
    
    .button-menu-general:hover, .button-menu-general:focus {
        color:var(--white-color);
        background-color: var(--link-color);
        border: 1px solid transparent;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    }
       
    /**---PORTFOLIO------Block 2-4----------*/
    
    .section-menu {
        /* list-style: none; */
        display: flex;
        flex-wrap: wrap;
        gap: 48px 24px;
        /* column-gap: 24px;
        row-gap: 48px; */
    }
    .section-item {
        /* flex-basis: calc((100% - 48px) / 3);
        overflow: hidden; */
        transition: box-shadow var(--transition);
    }

    .block {
        display: block;
        transition: box-shadow var(--transition);
    }
    
    .block-one-four{
        padding: 96px 0 120px 0;
    }

    .button-menu{
        display: flex;
        justify-content: center;
        gap: 24px;
        margin-bottom: 72px;
    }

    .button-menu-general {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        padding: 12px 24px;
        border: 1px solid var(--button-color);
        border-radius: 4px;
        color: var(--logo-color);
        cursor: pointer;
        background-color: var(--backgr-color);
        transition: color var(--transition), background-color var(--transition), border-color var(--transition), box-shadow var(--transition);
    }
     
    .block-foto-text {
        position: relative;
        overflow: hidden;
    }

    .cashless-cover-text {
        position: absolute;
        top: 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--backgr-color);
        background: var(--logo-color);
        padding: 40px 32px;
        width: 100%;
        height: 100%;
        transform: translateY(100%);
        transition: transform var(--transition);
    }

    .cashless-cover-block {
        position: relative;
        top: 0;
        left: 0;
        width: 360px;
        height: 300px;
        background: var(--logo-color);
        transform: translateY(100%);
        transition: transform var(--transition);
    } */
    
    .section-item:hover .cashless-cover-block {
        transform: translate(0);
    }

    .block:is(:hover, :focus) {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    }

    .button-menu-general:is(:hover, :focus) {
        color: var(--white-color);
        border: 1px solid transparent;
        background-color: var(--link-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }

    .block-title-text-container {
        padding: 32px 16px;
        border: 1px solid var(--button-color);
        border-top: none; 
    }
    
    .block-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
        color: var(--title-color);
    }
    .block-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--text-color);
    }
    
    .block:is(:hover, :focus) .cashless-cover-text {
        transform: translateY(0%);
    }


    
    /**---PORTFOLIO------Footer-------------*/
    

